body {
    background-color: #000000;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

#footer {
	background-color: #A3D0F0;
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;  /* Height of the footer */
}

.resize {
	display: block;
	margin: auto;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

#video {
	padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
