body {
    background-color: #000000;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px; 
    text-align: center;
}

#footer {
	background-color: #A3D0F0;
    padding-top: 10px;
    padding-bottom: 10px;
    position:fixed;
    bottom:0;
    width:100%;
    color: #000000;
    font-size: 18px;
}

.resize {
	display: block;
	margin: auto;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

#video {
	padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
