body {
    background-color: #000000;
    color: white;
	font-family: 'Bungee Shade', cursive;
    font-size: 50px; 
    text-align: center;
}

#footer {
	background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    position:fixed;
    bottom:0;
    width:100%;
    color: #ffffff;
    font-size: 18px;
}

.resize {
	display: block;
	margin: auto;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

#video {
	padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
#giphyme {
	padding-bottom: 75px;
}

#snap {
	background-color: #ffffff; 
    border: none;
    color: black;
    padding: 35px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-family: 'Bungee Shade', cursive;
}
